body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f9f8;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #0f766e;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.logo {
  width: 100%;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 0;
}

.sidebar nav a:hover {
  opacity: 0.8;
}

.main {
  flex: 1;
  padding: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  font-size: 18px;
}

.card span {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}





.users-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.users-table th,
.users-table td {
  padding: 14px;
  text-align: left;
}

.users-table thead {
  background: #0f766e;
  color: white;
}

.users-table tr:nth-child(even) {
  background: #f2f7f6;
}

.status-pending {
  color: #eab308;
  font-weight: bold;
}

.status-approved {
  color: #16a34a;
  font-weight: bold;
}

.btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-approve {
  background: #0f766e;
  color: white;
}

.btn-role {
  background: #2563eb;
  color: white;
  margin-left: 6px;
}






.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add {
  background: #16a34a;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}
